.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.modal h4{
    font-size: 18px;
    margin-bottom: 0;
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    margin-top: 24px;
    padding: 5px;
    border: 1px solid #888;
    width: 30%;
    margin-bottom: 39px;
    margin-right: 27%;
}
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-right: 9px;
}
.user{
    width: 100%;

}
.user input{
    width: 89%;
    float: left;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.cityWrap{


    width: 100%;
     border-radius: 4px;
     border: 1px solid #80808085;
}
.btnWrap{
    float: right;
    margin-top: 10px;
    width: 110px;
    font-size: 12px;
}