.forgetWrap{

    margin-top: 10%;
}
b{
    font-size: 18px;
}
button{
    margin-top: 4%;
    width: 40%;
    margin-left: 30%;
}

p{
    font-size: 12px;
}

input{
    width: 100%;
    height: 30px;
    text-align: center;
}
.error{
    font-size: 12px;
    color: orangered;
}