<div id="myModal" class="modal">
  <div class="modal-content">
    <div class="header">
      <div class="close-btn">
        <span class="close" (click)="closePopup()">&times;</span>
      </div>
      <div class="container" style="margin-top: 19px;">
        <form #onsumit="ngForm">
          <!-- <div class="row">
            <div class="col-md-12">
              <h4>Enter Detail
                <hr>
              </h4>
            </div>
          </div>
          <div class="row" style="margin-top: 2%; margin-bottom: 5%; margin-left: 0%;">
            <div class="col-md-4" style="float: right;margin-right: -10%;margin-top: -1%;">
              <label>Event Title
                <span>*</span>
              </label>
            </div>
            <div class="col-md-8" style="float: right;margin-right: -10%;margin-top: -1%;">
              <input type="text" autocomplete="off" placeholder="Enter title" #firstName="ngModel" name="title" required id="first" style="width: 94%; border-radius: 4px;border: 1px solid #80808085" [(ngModel)]="userDetail.eventTitle">
              <div class="valid" *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)">
                <span style="font-size: 10px; color: red">
                    <strong>Name is required </strong>
                </span>
            </div>
                </div>
          </div>

          <div class="row" style="margin-top: 2%; margin-bottom: 5%;margin-left: 0%; ">
              <div class="col-md-4" style="float: right;margin-right: -10%;margin-top: -1%;">
                <label>Date/Time
                  <span>*</span>
                </label>
              </div>
              <div class="col-md-8" style="float: right;margin-right: -10%;margin-top: -1%;">
                <input type="datetime-local" autocomplete="off" placeholder="Enter date/time" #dt="ngModel" name="dates" required
                  id="times" style="width: 95%; border-radius: 4px;border: 1px solid #80808085" [(ngModel)]="date">
                <div class="valid" *ngIf="dt.invalid && (dt.dirty|| dt.touched)">
                  <span style="font-size: 10px; color: red">
                    <strong>Date/Time is required </strong>
                  </span>
                </div>
              </div>
            </div>


            <div class="row">
            <div class="col-md-4">
              <label>Venue
                <span>*</span>
              </label>
            </div>
            <div class="col-md-8">
              <input type="text" autocomplete="off" placeholder="Enter venue" required ngModel #venu="ngModel" name="venue" required
                id="ven" style="width: 85%; border-radius: 4px;border: 1px solid #80808085" [(ngModel)]="userDetail.eventTitle">
              <div class="valid" *ngIf="venu.invalid && venu.invalid">
                <span style="font-size: 10px; color: red">
                  <strong>Venue is required </strong>
                </span>
              </div>
            </div>
          </div>

          <div class="row" style="margin-top: 2%; margin-bottom: 5%; margin-left: 4%;">
              <div class="col-md-4"style="float: right;margin-right: -13%;margin-top: -1%;">
                <label>Address
                  <span>*</span>
                </label>
              </div>
              <div class="col-md-8"style="float: right;margin-right: -10%;margin-top: -1%;">
                <input type="text" autocomplete="off" placeholder="Enter address"#venu="ngModel" name="address" required id="ven" style="width: 100%; border-radius: 4px;border: 1px solid #80808085" [(ngModel)]="userDetail.location">
                <div class="valid" *ngIf="venu.invalid && (venu.dirty || venu.touched)">
                  <span style="font-size: 10px; color: red">
                    <strong>Address is required </strong>
                  </span>
                </div>
              </div>
            </div>

            <div class="row" style="margin-top: 2%; margin-bottom: 5%; margin-left: 0%;">
                <div class="col-md-4"style="float: right;margin-right: -10%;margin-top: -1%;">
                  <label>Description
                    <span>*</span>
                  </label>
                </div>
                <div class="col-md-8"style="float: right;margin-right: -10%;margin-top: -1%;">
                  <textarea rows="4" cols="50" autocomplete="off" placeholder="Enter description" required ngModel #des="ngModel" name="descr" required id="dest" style="width: 98%; border-radius: 4px;border: 1px solid #80808085" [(ngModel)]="userDetail.description"></textarea>
                  <div class="valid" *ngIf="des.invalid && (des.dirty || des.touched)">
                    <span style="font-size: 10px; color: red">
                      <strong>Description is required </strong>
                    </span>
                  </div>
                </div>
              </div> -->

          <div class="row"  style="margin-top: 2%;margin-bottom: 5%;margin-left: 0%;">
            <div class="col-md-4" style="float: right;margin-right: -10%;margin-top: -1%;">
              <label style="margin-top: 19%">{{headname}}&nbsp; Image
                <span>*</span>
              </label>
            </div>
            <div class="col-md-8" style="float: right;margin-right: -10%;margin-top: -1%;">
              <input type="file"  (change)="detectFiles($event)" (change)="onFileSelected($event.target.files)" style="border: 1px solid #80808085;border-radius: 4px;width: 100%;float: right; margin-right: -12px; margin-top: 10px">
              <img [src]="imageurl"   style="width:165px; height: 165px; margin-top: 4%;margin-left: 13%">

              <!-- <img src="{{designImgUrl}}" style="border: 1px solid #80808085;border-radius: 4px;width: 100%;float: right; margin-right: 0;"> -->
            </div>
          </div>
          <div class="row" style="margin-top: 2%; margin-bottom: 5%;margin-left: 0%;">
            <div class="col-md-12">
            </div>
          </div>
          <div class="row" style="margin-top: 2%; margin-bottom: 5%; margin-left: 0%;">
            <div class="col-md-5" style="float: right;margin-right: -10%;margin-top: -1%;">
              <p *ngIf="isUpload">uploading...</p>
            </div>
            <div class="col-md-7" *ngIf="!isUpload" style="float: right;margin-right: -10%;margin-top: -1%;">
              <button class="btn btn-primary" [disabled]="!onsumit.form.valid" style="float: right; margin-top: 10px; width: 100px; margin-right: -31px; margin-top: -31px" (click)="onSave()">Save</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>