<div class="stats-boxes">
    <div class="folder-box">
        <div class="stats-box1">
            <div class="view" *ngIf="vendordata">
                <p>{{vendordata.profileViewCount}}</p>
            </div>
            <div class="stats-boxbtn1" (click)="getCountType(1)">
                <div class="view-img">
                    <img src="../../../assets/images/group.svg">
                    <div class="tagText">
                        <p>Profile Visit</p>
                    </div>
                </div>
                <div class="textwrap">
                    <p>View Details</p>
                    <div class="img-wrap">
                    </div>
                </div>
            </div>
        </div>
        <div class="stats-box2" (click)="getCountType(2)">
            <div class="view" *ngIf="vendordata">
                <p>{{vendordata.phoneContactCount}}</p>
            </div>
            <div class="stats-boxbtn1">
                <!-- <div class="textwrap">
              <p>View Details</p>
          </div> -->
                <!-- <div class="img-wrap">
    
          </div> -->
                <div class="view-img">
                    <img src="../../../assets/images/phonewhite.svg">
                    <div class="tagText">
                        <p>Calls</p>
                    </div>
                </div>
                <div class="textwrap">
                    <p>View Details</p>
                    <div class="img-wrap">
                    </div>
                </div>
            </div>
        </div>
        <div class="stats-box3" (click)="getCountType(3)">
            <div class="view" *ngIf="vendordata">
                <p>{{vendordata.emailContactCount}}</p>
            </div>
            <div class="stats-boxbtn1">
                <!-- <div class="textwrap">
                <p>View Details</p>
            </div> -->
                <!-- <div class="img-wrap">
      
            </div> -->
                <div class="view-img">
                    <img src="../../../assets/images/w.svg">
                    <div class="tagText">
                        <p>Web Visit</p>
                    </div>
                </div>
                <div class="textwrap">
                    <p>View Details</p>
                    <div class="img-wrap">
                    </div>
                </div>
            </div>
        </div>
        <div class="stats-box4" (click)="getCountType(4)">
            <div class="view" *ngIf="vendordata">
                <p>{{vendordata.displayCount}}</p>
            </div>
            <div class="stats-boxbtn1">
                <!-- <div class="textwrap">
                  <p>View Details</p>
              </div> -->
                <!-- <div class="img-wrap">
        
              </div> -->
                <div class="view-img">
                    <img src="../../../assets/images/icon.svg">
                    <div class="tagText">
                        <p>Display</p>
                    </div>
                </div>
                <div class="textwrap">
                    <p>View Details</p>
                    <div class="img-wrap">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div *ngIf="showHide">
    <div class="card mb-3  table-size">
        <div class="card-header">{{tableHead}}</div>
        <div class="card-body table-responsive">
            <table class="table">
                <thead class="thead-inverse">
                    <tr>
                        <th>Sr. No</th>
                        <th>Username</th>
                        <th>Contact No</th>
                        <th>CreatedTime</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of userCount; let i= index;">
                        <th scope="row">{{getSrIndex(i)}}</th>
                        <td>{{item.user?.firstName}}{{item.user?.lastName}}</td>
                        <td>{{item.user?.phoneNumber}}</td>
                        <td>{{item.localDateTime}}</td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
            <div class="row">
                <div class="col-xs-12 col-12">
                    <pagination [totalItems]="totalItems" [itemsPerPage]="size" [maxSize]="25" (pageChanged)="pageChanged($event)" [(ngModel)]="currentPage"></pagination>
                </div>
            </div>
        </div>
    </div>
</div>