<div class="container">
  <div class="row">
    <div class="col-md-12"></div>
  </div>
  <div class="row" style="margin-top: 10px;">
    <div class="col-md-12">
      <div class="card mb-3  table-size">
        <div class="card-header">City
          <button class="btn btn-primary" style="font-size: 13px;float: right;" (click)="onAddClick()">
            Add City</button>
        </div>
        <div class="card-body table-responsive">
          <table class="table">
            <thead class="thead-inverse">
              <tr>
                <th>S.no</th>
                <th>Name</th>
                <th>Pin Code</th>
                <th style="width: 20%;">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let city of cityData; let i = index;">
                <th scope="row">{{i+1}}</th>
                <td>{{city.cityName}}</td>
                <td>{{city.pincode}}</td>
                <td>
                  <button class="btn btn-info btn-sm" style="margin-right: 5px; font-size: 12px;" (click)="onEditCity(city)">
                    <span class="fa fa-edit"></span> Edit</button>
                  <button class="btn btn-danger btn-sm" style="margin-left: 5px; font-size: 12px;" (click)="onStatusUpdate(city)">
                    <span class="fa fa-remove ">&nbsp;</span>Delete</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<app-addcitymodel *ngIf="popup" [city]="city" (onUpdate)="onUpdate($event)"></app-addcitymodel>