<div class="container">
  <div class="row">
    <div class="col-md-12"></div>
  </div>
  <div class="row" style="margin-top: 10px;">
    <div class="col-md-12">
      <div class="card mb-3  table-size">
        <div class="card-header">Create Event
          
        </div>
        <div class="card-body table-responsive">
          <table class="table">
            <thead class="thead-inverse">
              <tr>
                <th>S.no</th>
                <th>Image</th>
                <th>Event Name</th>
                <th style="width: 20%;">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let c of eventData; let i=index">
                <th scope="row" style="padding-top: 20px;">{{i+1}}</th>

                <td>
                  <img src="{{c.imageUrl}}" style="width:100px;height: 60px;">
                </td>
                <td style="padding-top: 20px;">{{c.eventTemplateName}}</td>
                <td>
                  <button class="btn btn-info btn-sm" style="margin-right: 5px; font-size: 12px; margin-top: 5%;"
                   (click)="onView(c)">
                    <span class="fa fa-eye"></span> View</button>
                    <button class="btn btn-info btn-sm" style="margin-right: 5px; font-size: 12px; margin-top: 5%;"
                   (click)="onDelete(c)">
                    <span class="fa fa-trash"></span> Delete</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <app-addcategorymodel *ngIf="popup" [category]="category" (onUpdate)="onUpdate($event)"></app-addcategorymodel> -->