<div class="container">
  <div class="row">
    <div class="col-md-12"></div>
  </div>
  <div class="row" style="margin-top: 10px;">
    <div class="col-md-12">
      <div class="card mb-3  table-size">
        <div class="card-header">Category
          <button class="btn btn-primary" style="font-size: 13px;float: right;" (click)="onAdd()">Add Category</button>
        </div>
        <div class="card-body table-responsive">
          <table class="table">
            <thead class="thead-inverse">
              <tr>
                <th>S.no</th>
                <th>Image</th>
                <th>Category Name</th>
                <th style="width: 20%;">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let c of categoriesdata;let i=index">
                <th scope="row">{{i+1}}</th>
                <td>
                  <img src="{{c.url}}" style="width:100px;height: 50px;">
                </td>
                <td>{{c.categoryName}}</td>
                <td>
                  <button class="btn btn-info btn-sm" style="margin-right: 5px; font-size: 12px;" (click)="onEditCategory(c)">
                    <span class="fa fa-edit"></span> Edit</button>
                  <button class="btn btn-danger btn-sm" style="font-size: 12px; margin-left: 5px;"
                    (click)="onStatusUpdate(c)">
                    <span class="fa fa-remove ">&nbsp;</span>Delete</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<app-addcategorymodel *ngIf="popup" [category]="category" (onUpdate)="onUpdate($event)"></app-addcategorymodel>