<div class="login-page">
    <div class="container">
        <div class="row">
            <div class="col-md-8 center-div form-border">
                <div class="card-block">
                    <div class="container" *ngIf="paymentSuccess && showResponse">


                        <div class="row d-flex justify-content-center">
                            <i style="color: green" class="fa fa-check-circle fa-5x" aria-hidden="true"></i>
                        </div>


                        <div class="row d-flex justify-content-center">

                            <h2 style="color: green">Your Payment has been received</h2>
                        </div>

                        <div class="row d-flex justify-content-center" *ngIf="paymentId">

                            <h6>Payment Id : </h6>

                            <h6 style="margin-left:1%">{{paymentId}}</h6>
                        </div>

                        <div class="row d-flex justify-content-center" *ngIf="payment_requestId">

                            <h6>Request Id : </h6>

                            <h6 style="margin-left:1%">{{payment_requestId}}</h6>
                        </div>


                        <div style="margin:10px" class="row d-flex justify-content-center">

                            <button class="btn btn-success btn-sm" (click)="goBack()">Go Back To App</button>
                        </div>


                    </div>

                    <div class="container" *ngIf="!paymentSuccess && showResponse">


                        <div class="row d-flex justify-content-center">
                            <i style="color: red" class="fa fa-times fa-5x" aria-hidden="true"></i>
                        </div>


                        <div class="row d-flex justify-content-center">
                            <h2 style="color: rgb(128, 0, 0)">Your Payment is not completed</h2>
                        </div>

                        <!-- <div class="row d-flex justify-content-center" *ngIf="paymentId">

                            <h6>Payment Id : </h6>

                            <h6 style="margin-left:1%">{{paymentId}}</h6>
                        </div> -->

                        <div class="row d-flex justify-content-center" *ngIf="payment_requestId">

                            <h6>Request Id : </h6>

                            <h6 style="margin-left:1%">{{payment_requestId}}</h6>
                        </div>


                        <div style="margin:10px" class="row d-flex justify-content-center">

                            <button class="btn btn-success btn-sm" (click)="goBack()">Go Back To App</button>
                        </div>


                    </div>


                </div>
            </div>


        </div>

    </div>

</div>
