

.name{
    text-align: center;
    margin-bottom: 23px;
}

form{
    width: 100%;
}
body{
    font-family: 'Open Sans', sans-serif;       
}

.input{
    margin-bottom: 10px;
    margin-left: 20px;
}
body{
    background-color: #f0f0f0
}
.box1{
    width: 35%;
    float: left;
    margin-left: 35%;
    margin-top: 15px;

}
// .inputwrap input{
//     width:60%;
//   padding: 10px;  
//   background:white;
//   /* border: none; */
//   border-radius: 0px;
//   opacity: 0.8;
//   /* height: 30px; */
//   /* color: white; */

// }

// .inputwrap{

// margin-left: 30px;
// margin-top: 37px;

// }

.merge{
    float: left;
    width: 100%;
    margin-bottom: 8px;

}
.merge input{
    margin-right: 7px;
    height: 43px;
    width: 98%;
    float: left;
    padding: 8px;
}
.fullfield{
    margin-bottom: 8px;
}
.fullfield input {
    width: 95.5%;
    height: 43px;
    padding: 8px;
}

// input.mat-chip-input::placeholder{

//     padding-left: 2%!important;
// }
.btnwrap{
    margin-left: 8px;
    margin-top: 10px;
}
.btnwrap button{
    width: 152px;
    background-color: #0000ffb3;
    padding: 7px;
    border-radius: 5px;
    margin-bottom: 10px;
    border: none;
    text-align: center;
    color: white;
    margin-top: auto;
    float: right;
    margin-right: 22px;
}


.imgwrap{
    width: 100%;
    float: left;
    margin-bottom: 12px;
}
.img{
    background-image: url(../../assets/images/logo.png);
    background-repeat: no-repeat;
    background-position: center top;
    width: 39%;
    background-size: 152px 144px;
    height: 137px;
    position: center;
    margin-left: 31%;
    margin-top: 11px;

}
.container1st{
    background-color: #f2f2f2;
    // overflow: scroll;
    
    
}

/deep/ .mat-form-field-flex {
    display: inline-flex;
    align-items: baseline;
    box-sizing: border-box;
    width: 98%!important;
    padding-left: 2%!important;
}
.categoryWrap::-webkit-input-placeholder{
    padding-left:2%!important;
     }
.mat-input-element{
    max-width: 98%!important;
    margin-left: 2%!important;
}
/deep/ .mat-form-field input {
    height: 20px!important;
    margin-left: 2%!important;
    padding: 0!important;
    width: 95.5%!important;
    margin: 0!important;

}
// /deep/ .mat-form-field input::placeholder{
//     padding-left: 2%!important;
// }


/deep/ .mat-chip-list-wrapper {
    margin-left: 2%!important;
    max-width: 96%!important;
    margin: 0px!important;
}
// @media  only screen and (max-width:360px){
//     .fullfield input{
//         width: 95.5%!important; 

//     }
// }
// @media only screen 
//     and (max-device-width : 414px) 
//     and (device-height : 736px)
  
// { 
//    .merge input{
//        width: 170px!important;

//    }  
//    .merge{
//        width: 383px !important;
//    }  
//    .fullfield input{
//        width: 91.5% !important;
//    }
// }
@media only screen and (max-width:600px){
    /deep/ .mat-form-field-appearance-legacy .mat-form-field-wrapper {
        // padding-bottom: 1.25em !important;
        width: 335px !important;
        border:none !important;
    }
    .img{
        width: 61%;
        margin-left: 60px; 
    }
    .btnwrap button{
        margin-right: 30px;
        width: 142px;
    }
    .box1{
        margin-left: 6%;
        width: auto;
    }
    .box-1{
        width: 47%;
        margin-left: 2px;
    }
    .fullfield{
        margin-top: 13px;
    margin-left: 2px;
    }
    .name h4{
        font-size:20px;
    }
    .inputwrap{
        margin-left: -84px;
        width: 318px;
    }
    .merge input{
        margin-right: -1px;
        height: 35px;
        width: 148px;
        float: left;
        border: none;
        border-bottom: 1px solid grey;
        
    }
    .merge{
        width: 381px;
        margin-bottom: 13px;
        margin-top: 9px;    
    }
    .alert-box{
        font-size: 10px;
    }
    .fullfield input{
        width: 86.8%;
     border: none;
     border-bottom: 1px solid grey;
     
    

    }
    .name{
        text-align: center;
    margin-left: -18px;
    margin-bottom: 11px;
    }
    .box-2{
            margin-left: 2px;   
    }    
    .btnwrap{
        margin-top: -13px;
        margin-right: 38px;
    }  
    .btnwrap button{
        margin-right: 6px;
        width: 134px;
    }
     
}

@media only screen and (max-width : 736px) and (min-width : 414px) {
.merge-input{
    width: 165px;
}
.merge{
    width: 391px;   
}
.merge input{
width: 164px;
}
/deep/.mat-form-field-appearance-legacy .mat-form-field-wrapper {
    width: 354px !important;
    // border: 1px solid #808
}
.fullfield input{
    width: 90.5%;
}
}




.box-1{
    width: 48%;
    float: left;
}
.box-2{
    width: 48%;
    float: left;
}
.alert-box{
    // color: black;
    font-size: 11px;
    // margin-top: -1px;
    float: left;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.alert-box span{
    width: 100%;
    color: red;
    font-size: 11px;
    float: left;
}

.sliderInnerContainer
        {
            float: left;
            width: 100%;
            background-color: #ffffff;
        }
.regTabNav
        {
            float: left;
            width: 100%;
            margin: 25px 0;
        }
.regTabNav > li
        {
            float: left;
            width: 28.33%;
            margin-left: 5%;
            color: #222;
            cursor: pointer;
        }
.regTabNav > li .tabNavIcon
        {
            float: left;
            width: 25px;
            height: 25px;
            color: #fff;
            text-align: center;
            line-height: 26px;
            background-color: #222;
        }
.regTabNav > li .tabNavRightText
        {
            float: left;
            margin-left: 10px;
            font-size: 14px;
            margin-top: 5px;
        }
.regTabNav > li .tabNavRightText span
        {
            float: left;
            background-color: #fc8e00;            
            height: 4px;
            width: 100px;
            margin-top: 2px;
            border-radius: 5px;
            -moz-border-radius: 5px;
            -webkit-border-radius: 5px;
            display: none;
        }
.regTabNav > li.active
        {
            color: #fc8e00;
        }
.regTabNav > li.active .tabNavRightText span
        {
            display: block;
        }
.regTabNav > li.active .tabNavIcon
        {
            background-color: #fc8e00;            
        }
.labTopWrap
        {
            float: left;
            width: 100%;
            padding: 20px;
            border-bottom: 1px solid #cfd7e0;
        }
.labTopImageWrap
        {
            float: left;
            width: 140px;
            height: 100px;
            padding: 2px;
            border: 1px solid #cfd7e0;
            position: relative;
        }
.labTopImageWrap > .inner
        {
            float: left;
            width: calc(100% - 10px);
            height: calc(100% - 10px);
            position: absolute;
            top: 0;
            left: 0;
            z-index: 3;
            color: #fff;
            margin: 5px;
            text-align: center;
        }
.labTopImageWrap > .imagePreviewWrap
        {
            float: left;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0px;
            left: 0px;
            z-index: 2;
        }
.labTopImageWrap > .imagePreviewWrap img
        {
            float: left;
            width: 100%;
            height: 100%;
        }
.labTopImageWrap > .backColorWrap
        {
            float: left;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0px;
            left: 0px;
            z-index: 1;
            background-color: #ccc;
        }
.labTopImageWrap > input[type="file"]
        {
            float: left;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 4;
            opacity: 0;
            cursor: pointer;
        }
.labTopImageWrap > .inner span
        {
            float: left;
            width: 100%;
            font-size: 60px;
            line-height: 50px;
            text-align: center;
            margin-top: 10px;
        }
.labTopInfoWrap
        {
            float: left;
            width: calc(100% - 170px);
            margin-left: 30px;
        }
.labTopAddressBar
        {
            float: left;
            width: 100%;
        }
.labTopAddressBar input
        {
            float: left;
            width: calc(100% - 155px);
            padding-left: 10px;
        }
.labTopAddressBar span
        {
            float: left;
            width: 155px;
            padding: 5px 10px;
            background-color: #4ecdc4;
            cursor: pointer;
            font-style: italic;
            color: #fff;
            font-size: 14px;
        }
.labBottomWrap
        {
            float: left;
            width: 100%;
            padding:20px;
        }
.labBottomWrap input
        {
            margin-top: 20px;
        }
.regCertificateList
        {
            float: left;
            width: 100%;
            margin: 20px 0;
        }
.regCertificateList li
        {
            float: left;
            text-align: center;
            margin-right: 10px; 
        }
.regCertificateList li .certiIcon
        {
            display: inline-block;
            width: 40px;
            height: 45px;
            background-color: #ccc;
        }
.regCertificateList li .certiIcon img
        {
            float: left;
            width: 100%;
            height: 100%;
        }
.labCertiDropMain
        {
            float: left;
            width: 100%;
            border: 2px dashed #cfd7e0;
            height: 120px;
            color: #cfd7e0;
            position: relative;
            text-align: center;
        }        
.labCertiDropMain .labCertiIcon
        {
            display: inline-block;
            width: 40px;
            height: 45px;
            margin-top: 20px;
            margin-bottom: 10px;
            background-color: #ccc;
        }
.labCertiDropMain .labCertiIcon img
        {
            float: left;
            width: 100%;
            height: 100%;
        }        
.labCertiDropMain input[type="file"]
        {
            float: left;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 4;
            opacity: 0;
            cursor: pointer;
        }        
.labCertiInputWrap
        {
            float: left;
            width: 80%;
            margin: 30px 0;
        }
.labCertiInputWrap .icon
        {
            float: left;
            width: 25px;
            height: 25px;
            margin-right: 10px;
            background-color: #ccc;
        }
.labCertiInputWrap input
        {
            float: left;
            font-size: 14px;
            width: calc(100% - 35px);
        }
agm-map {
    height: 300px;
    }
input[type="text"], input[type="number"], input[type="password"], input[type="email"]  
		{
			width: 100%;
			/*width: calc(100% - 20px);*/
			padding: 5px 0;
			border-bottom: 1px solid #cfd7e0;
			border-left: none;
			border-top: none;
			border-right: none;
			font-family: 'Roboto', sans-serif;
            background-color: transparent;
            margin-top: 0px;
            line-height: 15px;
		}
input:focus, textarea:focus
		{
			box-shadow: none;
    		outline-width: 0;
    		/*border-color:#1976D2 !important;*/
		}
.defaultBlueButton
		{
			float: left;
			padding: 8px 30px;
			text-align: center;
			font-size: 13px;
			color: #fff;
			border: 1px solid #4ECDC4;
			background-color: #4ECDC4;
			transition: all 0.3s ease 0s;
			-moz-transition: all 0.3s ease 0s;
			-webkit-transition: all 0.3s ease 0s;
			cursor: pointer;
		}
.defaultCancelButton
		{
			float: left;
			padding: 8px 30px;
			text-align: center;
			font-size: 13px;
			color: #cfd7e0;
			border: 1px solid #cfd7e0;
			background-color: #f5f7f9;
			transition: all 0.3s ease 0s;
			-moz-transition: all 0.3s ease 0s;
			-webkit-transition: all 0.3s ease 0s;
			cursor: pointer;
		}
.defaultCancelButton:hover
		{
			color: #484f57;
		}

		.assignMargin
{
    margin-top: 5px;
}
.InputFields
{
    float: left;
    width: 100%;
    padding: 20px 0px 0px 0px;
}
.InputFields > li
{
    float: left;
    width: 100%;
    padding-bottom: 20px;
}
.InputFields > li input
{
    float: left;
}
.defaultBlueButton:hover
		{
			-webkit-box-shadow: 0px 2px 10px 0px rgba(131,145,159,1);
			-moz-box-shadow: 0px 2px 10px 0px rgba(131,145,159,1);
			box-shadow: 0px 2px 10px 0px rgba(131,145,159,1);
		}
.customCheckBox
		{
			float: left;
			position: relative;
			width: 18px;
			height: 18px;
			margin: 7px;
			/*border-radius: 3px;
			-moz-border-radius: 3px;
			-webkit-border-radius: 3px;*/
			background-color: #f5f7f9;
			border: 1px solid #cfd7e0;
		}
.customCheckBox .check
		{
			float: left;
			height: 18px;
			width: 18px;
			/*background-image: url('../images/icons/Check-Box.png');*/
			background-repeat: no-repeat;
			background-position: center center;
			position: absolute;
			top: 0;
			left:0;
			z-index: 1;
			/*background-color: #1976d2;*/
			/*border: 2px solid #1976D2;*/
		}
.customCheckBox input
		{
			cursor: pointer;
			width: 100%;
			height: 100%;
			float: left;
			position: absolute;
			top: 0;
			left: 0;
			z-index: 10;
			opacity: 0;
			margin: 0;
		}
.customCheckBox input:checked ~ .check:before
		{
			content: "\2713";
			float: left;
			width: 14px;
			border: 2px solid #1976D2;
			height: 14px;
			background-color: #1976D2;
			position: absolute;
			top: 0;
			left: 0;
			color: #fff;
			line-height: 15px;
			font-weight: bold;
			font-size: 17px;
		}
.customCheckBox input:checked ~ .check
		{
			border-color: #1976D2;
		}
.customRadioBtn
		{
			float: left;
			position: relative;
			width: 18px;
			height: 18px;
			margin: 7px;
			border-radius: 90%;
			-moz-border-radius: 90%;
			-webkit-border-radius: 90%;
			background-color: #fff;
		}
.customRadioBtn .radio
		{
			float: left;
			height: 18px;
			width: 18px;
			/*background-image: url('../images/icons/Check-Box.png');*/
			background-repeat: no-repeat;
			background-position: center center;
			position: absolute;
			top: 0;
			left:0;
			z-index: 1;
			border: 2px solid #4ECDC4;
			border-radius: 90%;
			-moz-border-radius: 90%;
			-webkit-border-radius: 90%;
		}
.customRadioBtn input
		{
			cursor: pointer;
			width: 100%;
			height: 100%;
			float: left;
			position: absolute;
			top: 0;
			left: 0;
			z-index: 10;
			opacity: 0;
			margin: 0;
		}
.customRadioBtn input:checked ~ .radio:before
		{
			content: "";
			float: left;
			width: 10px;
			height: 10px;
			background-color: #4ECDC4;
			position: absolute;
			top: 2px;
			left: 2px;
			color: #fff;
			line-height: 15px;
			font-weight: bold;
			font-size: 17px;
			border-radius: 90%;
			-moz-border-radius: 90%;
			-webkit-border-radius: 90%;
		}
.customRadioBtn input:checked ~ .radio
		{
			border-color: #4ECDC4;
		}
.pharmacyHeader
{
    float: left;
    width: 100%;
    background-color: #232429;
    color: #4ECDC4;
    padding: 15px 35px 15px 25px; 
}
.pharmacyHeader p
{
    float: left;
    font-size: 18px;
    text-transform: uppercase;
    line-height: 22px;
    padding: 2px 15px;
}
.errorColor
		{
			color: #FF0000 !important;
			border-color: #FF0000 !important;
			margin-top: 2px;
		}
label
{
    float: left;
    width: 100%;
}
.addBtnDefault {
    float: left;
    text-decoration: underline;
    cursor: pointer;
    color: #4ecdc4;
}
.textCenter
{
    text-align: center;
}
.textColor
{
    color: #4ecdc4;
}
.popupInnerWrap {
    float: left;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.popupContainer {
    float: left;
    width: 100%;
    padding: 20px;
}


/deep/ .mat-form-field-appearance-legacy .mat-form-field-wrapper {
    padding-bottom: 1.25em !important;
    width: 448px;
    border: 1px solid #808080b8;
}

/deep/ .mat-form-field-appearance-legacy .mat-form-field-underline {
    height: 0px !important;
}

/deep/ .mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label, .mat-form-field-empty.mat-form-field-label {
    display: block !important;
    padding: 6px !important;
}