<div class="container1st">
  <form #signupForm="ngForm">
    <div class="box1">
      <div class="imgwrap">
        <div class="img"></div>
      </div>
      <div class="name">
        <h4>Vendor Registration</h4>
      </div>
      <div class="merge">
        <div class="box-1">
          <input placeholder="First Name*" pattern="^[a-zA-Z][a-zA-Z0-9-_\.]{1,20}$" #firstNameRef="ngModel" name="firstName" required
            id="firstnameId" [(ngModel)]="registerRequest.firstName" type="text">
          <div class="alert-box" *ngIf="(firstNameRef.touched || firstNameRef.dirty) && firstNameRef.invalid">
            <span>Firstname is required</span>
          </div>
        </div>

        <div class="box-2">
          <input placeholder="Last Name*" pattern="[a-zA-Z]{2,64}" #lastNameRef="ngModel" name="lastName" required id="lastnameId" [(ngModel)]="registerRequest.lastName"
            type="text">
          <div class="alert-box" *ngIf="lastNameRef.dirty && lastNameRef.invalid">
            <span>Lastname is required</span>
          </div>
        </div>
      </div>


      <div class="fullfield">
        <input placeholder="User Name*" #usernameRef="ngModel" name="username" id="usernameId" required [(ngModel)]="registerRequest.username"
          type="text">
        <div class="alert-box" *ngIf="usernameRef.dirty && usernameRef.invalid">
          <span>Username is required</span>
        </div>

      </div>
      <div class="fullfield">
        <input type="text" placeholder="Business Name*" #businessnameRef="ngModel" name="businessName" required id="businessNameId"
          [(ngModel)]="registerRequest.businessName">

        <div class="alert-box" *ngIf="businessnameRef.dirty && businessnameRef.invalid">
          <span>Businessname is required</span>
        </div>
      </div>
      <div class="fullfield">

        <input placeholder="Email*" name="emailName" #emailRef="ngModel" required id="e-mailId" [(ngModel)]="registerRequest.email"
          pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" type="email">

        <div class="alert-box" *ngIf="emailRef.dirty && emailRef.invalid">
          <span>Email is required</span>
        </div>
      </div>


      <div class="merge">
        <div class="box-1">
          <input type="number" pattern="[0-9\s]{10,10}" #contactnumberRef="ngModel" name="contactnumber" required id="contactnumberId"
            [(ngModel)]="registerRequest.contactNumber" placeholder="Contact Number*">
          <div class="alert-box" *ngIf="contactnumberRef.invalid && contactnumberRef.touched && contactnumberRef.dirty">
            <span> Please Enter Contact Number </span>
          </div>

        </div>
        <div class="box-2">
          <input placeholder="Alternate Contact*" #alternatecontactnumberRef="ngModel" pattern="[0-9\s]{10,10}" name="alternatecontactnumber"
            id="alternatecontactnumberId" [(ngModel)]="registerRequest.alternateContact" type="number">
          <div class="alert-box" *ngIf="alternatecontactnumberRef.invalid && alternatecontactnumberRef.touched && alternatecontactnumberRef.dirty">

            <span> Please Enter Alternate Contact Number</span>
          </div>
        </div>
      </div>
      <div class="merge">
        <div class="box-1">
          <input placeholder="Password*" #password2="ngModel" name="password2" id="password2" [(ngModel)]="registerRequest.password"
            type="password" required>
          <div class="alert-box" *ngIf="password2.touched && !password2.valid">
            <span>Password is required</span>
          </div>
        </div>
        <div class="box-2">
          <input placeholder="Confirm Password*" [(ngModel)]="confirmpassword" ngModel #confirm="ngModel" name="confirm" (ngModelChange)="passwordconfirm()"
            id="confirm" type="password">
          <div class="alert-box">
            <span>{{confirmmsg}}</span>
          </div>


        </div>
      </div>
      <!-- <div class="labTopAddressBar">
        <span (click)="setCurrentPosition()">Use Current Location</span>
      </div> -->

      <!-- <div class="merge">
        <input type="text" name="vedorAddress" required id="vedorAddress" placeholder="Enter Address*" formControlName="vedorAddress" autocorrect="off"
          autocapitalize="off" spellcheck="off" class="form-control" [value]="mapCurrentAddress" #addSearch>
        
      </div> -->
      <!-- <div class="fullWrap" style="margin-top:10px;" *ngIf="latitude"> -->
        <!-- <agm-map [latitude]="latitude" [longitude]="longitude" [scrollwheel]="false" [zoom]="zoom">
          <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
        </agm-map> -->
      <!-- </div> -->
      
      <div class="fullfield">
        <input placeholder="Address Line1*" #address1Ref="ngModel" name="address1name" required id="address1Id" [(ngModel)]="addressline1"
          type="text">
        <div class="alert-box" *ngIf="address1Ref.touched && address1Ref.invalid">
          <span>Address is required</span>
        </div>
      </div>

      <div class="fullfield">
          <input placeholder="Address Line2" #address2Ref="ngModel" name="address2" id="address2" [(ngModel)]="addressline2" type="text">
  
        </div>

       <div class="merge">
        <div class="box-1">
          <input placeholder="Land Mark*" type="text" #landmarkRef="ngModel" name="landmark1" required id="landmark1Id" [(ngModel)]="landmark">
          <div class="alert-box" *ngIf="landmarkRef.touched && landmarkRef.invalid">
            <span> Landmark is required</span>
          </div>
        </div>
        <div class="box-2">
          <input placeholder="Locality*"  #localityRef="ngModel" name="locality1"
           required id="localityId" [(ngModel)]="locality"
            type="text">
          <div class="alert-box" *ngIf="localityRef.touched && localityRef.invalid">
            <span> Locality is required</span>
          </div>
        </div>
      </div>
      <div class="merge">
          <div class="box-1">
              <select name="cityselect" class="form-control form-control-sm filter-margin" style="width: 100%;"
               [(ngModel)]="selectedCityId" (ngModelChange)="onCitySelect()">
               <!-- <option [ngValue]="0"> Select City</option> -->
                <option *ngFor="let city of cityData" [ngValue]="city.id"> {{city.cityName}}</option>
              </select>
  
          
            
          </div>
          <!-- <div class="box-2">
  
              <select class="form-control form-control-sm filter-margin" style="width: 100%;" [(ngModel)]="selectedPinCode" 
              (ngModelChange)="onPinSelect()">
              <option>Select Pin Code</option>  
              <option *ngFor="let city of cityData"> {{city.pincode}}</option>
              </select>
            <input placeholder="Pin Code*" pattern="[0-9\s]{6,6}" ngModel #pincodeRef="ngModel" name="pincode2" required id="pincodeid"
              [(ngModel)]="pincode" type="number">
  
            <div class="alert-box" *ngIf="pincodeRef.invalid && (pincodeRef.touched || pincodeRef.dirty )">
  
              <span> Please Enter Pin Code </span>
            </div>
          </div>  -->
        </div> 

      <div class="fullfield">

        <mat-form-field class="demo-chip-list box-css">
          <mat-chip-list #chipList>
            <mat-chip *ngFor="let item of categories" [selectable]="selectable" [removable]="removable" (removed)="remove(item)">
              {{item.categoryName}}
              <mat-icon matChipRemove *ngIf="removable">x</mat-icon>
            </mat-chip>
            <input  class="categoryWrap" placeholder="Add Category*" 
             ngModel #categoryInput name="category" [formControl]="categoryCtrl"
              [matAutocomplete]="auto" [matChipInputFor]="chipList"
               [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
               [matChipInputAddOnBlur]="addOnBlur" required >
            <!-- <div class="alert-box" *ngIf="categoryInput.invalid && categoryInput.touched && categoryInput.dirty ">

              <span> Please select category</span>
            </div> -->
          </mat-chip-list>
          <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
            <mat-option *ngFor="let cat of categoriesdata" [value]="cat">
              {{ cat.categoryName}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

      </div>

      <div class="btnwrap">
        <button class="btn btn-primary" [disabled]="!signupForm.form.valid" (click)="onRegister()">Submit</button>
      </div>



    </div>
  </form>
</div>