<div id="myModal" class="modal">
    <div class="modal-content">
        <div class="header">
            <!-- <div class="close-btn">
              <span class="close" (click)="closePopup()" >&times;</span>
          </div> -->
            <div class="container" style="margin-top:10px;margin-bottom: 29px;">
                <div class="row">
                    <div class="col-md-12">
                        <h4>Delete Package</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12" style="margin-bottom: 0px;">
                        <p style="margin-top: 20px;margin-bottom: 20px;">Are you sure you want to delete this package?</p>
                    </div>
                </div>
                <div class="row" style="margin-bottom: -21px;">
                    <div class="col-md-6">
                    </div>
                    <div class="col-md-3">
                        <button (click)="closePopup()" class="btn btn-danger btn-sm" style="width:80px;">No</button>
                    </div>
                    <div class="col-md-3" style="margin-bottom:0px;">
                        <button (click)="deletePackage()" class="btn btn-primary btn-sm" style="width: 80px;">YES</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>