.buttonWrap{
    padding: 5px;
    padding-top: 7px;
}

.btn{
    float: left;   
}
.btnWrap{
    margin-left: 6px;
}

.table th, .table td {
    font-size: 14px;
    border-top: 1px solid #dee2e6;
}

.linkWrap:hover
{

    cursor: pointer;
     color: blue;
}