<div class="container">
    <div class="row" style="margin-top: 10px;">
        <div class="col-md-12">
            <div class="card mb-3  table-size">
                <div class="card-header">
                    {{getHeaderText()}}
                </div>
                <div class="card-body table-responsive">
                    <table class="table">
                        <thead class="thead-inverse">
                            <tr>
                                <th>S.no</th>
                                <th>Vendor Name</th>
                                <th>Payment Date</th>
                                <th>Payment Mode</th>
                                <th>Package Name</th>
                                <th>Amount</th>
                                <th>Status</th>
                                <th style="text-align: center;" *ngIf="status == 'Pending'">Action</th>
                            </tr>
                        </thead>
                        <tbody *ngIf="showTable">
                            <tr *ngFor="let payment of paymentInfo;let i=index">
                                <td scope="row">
                                    {{i+1}}
                                </td>
                                <!-- <td style="cursor: pointer; color: blue" (click)="navigateProfile(item)">{{item.firstName}}</td> -->

                                <td class="linkWrap" (click)="navigateProfile(payment)">{{payment.vendor?.getFullName}} </td>
                                <td> {{payment.getPaymentDate}}</td>
                                <td> {{payment.paymentMode}}</td>
                                <td>{{payment.subscriptionPackage?.name}} </td>
                                <td>{{payment.amount}} </td>
                                <td>{{payment.getPaymentStatus}} </td>
                                <td class="buttonWrap" *ngIf="status == 'Pending'">
                                    <button class="btn btn-info btn-sm" (click)="confirmPayment(payment.subscriptionTransactionId)">Confirm Payment</button>
                                    <button class="btn btn-info btn-sm btnWrap" (click)="rejectPayment(payment.subscriptionTransactionId)">Reject Payment</button>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                    <div *ngIf="!showTable" class="d-flex justify-content-center">
                        No payment Record Found
                    </div>
                </div>
            </div>
        </div>




    </div>
</div>
