<div class="container">
    <div class="row" style="margin-top: 10px;">
        <div class="col-md-12">
            <div class="card mb-3  table-size">
                <div class="card-header">Payments
                    <button class="btn btn-primary" style="font-size: 13px;float: right;" (click)="openPaymentModal()"> Make Payments </button>
                </div>
                <div class="card-body table-responsive">
                    <table class="table">
                        <thead class="thead-inverse">
                            <tr>
                                <th>S.no</th>
                                <th>Package Name</th>
                                <th>Amount</th>
                                <th>Payments Date</th>
                                <th>Expiry Date</th>
                                <th>Status</th>
                                <!-- <th>Validity</th> -->
                                <!-- <th>Stats</th> -->
                                <!-- <th>Action</th> -->
                            </tr>
                        </thead>
                        <tbody *ngIf="showTable">
                            <tr *ngFor="let payment of paymentInfo;let i=index">
                                <td scope="row">{{i+1}}</td>
                                <td>{{payment.subscriptionPackage?.name}}</td>
                                <td>{{payment.amount}}</td>
                                <td>{{payment.getPaymentDate}}</td>
                                <td>{{payment.expiryDate}}</td>
                                <td>{{payment.status}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <div *ngIf="!showTable" class="d-flex justify-content-center">
                        No payment Record Found
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-makepayment *ngIf="makePayment" (output)="popupEvent($event)"></app-makepayment>