.table th, .table td {
    padding: 5px;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}
.table{
    margin-bottom: 0;
}
.card-body {
    flex: 1 1 auto;
    padding: 1.25rem;
    padding-bottom: 5px;
}
.card-header{
    padding: 0.50rem 1.25rem;
}
p{
    margin-bottom: 0;
}