<div class="container forgetWrap">
  <div class="row">
    <div class="col-sm-4">

    </div>
    <div class="col-sm-4">
      <form #forgetForm="ngForm">

        <div class="row">
          <div class="col-sm-12">
            <b>FORGOT PASSWORD</b>

            <hr>
            <p>We will send your password to your registered email address </p>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <input class="form-control" type="email" ngModel #emailAddress="ngModel" 
              name="mobile" [(ngModel)]="vendorEmail" placeholder="Enter your email address"
                required>
              <div *ngIf="emailAddress.invalid && emailAddress.touched" class="error">
                <span> Please Enter valid email address</span>
              </div>
            </div>
          </div>
        </div>

        <div class="row" >
          <div class="col-sm-8">
            <div id="recaptcha-container"></div>
          </div>
          <div class="col-sm-4">

            <button class="btn btn-primary btn-sm btnWrap"
             [disabled]="!forgetForm.form.valid" (click)="sendPassword()">Submit</button>
          </div>

        </div>
     
      </form>
    </div>
    <div class="col-sm-4">

    </div>
  </div>

</div>