.forgetWrap{

    margin-top: 10%;
}
b{
    font-size: 18px;
}

.optrow{
    margin-top: 6%;
}
.optrow button{
    width: 100%;
}
.btnWrap{
    width: 100%;
}

p{
    font-size: 12px;
}

input{
    width: 100%;
    height: 30px;
    // text-align: center;
}
::placeholder{
    font-size: 13px;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

.error{
    font-size: 12px;
    color: orangered;
}