.box-1{
    width: 50%;
    float: left;
}
.title{
    width: 103px;
}
.box-2{
    width: 50%;
    float: left;
}
.close-btn{
    margin-right: 10px;
}
/* The Modal (background) */
label{
    margin-top: 9px;
}
input{
    padding: 7px;
    // border-radius: 1px;
    // border: none;
}
.text-area1{
    width: 100%;
    float: left;
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    margin-top: -8px;
    padding: 5px;
    border: 1px solid #888;
    width: 30%;
    margin-bottom: 39px;
    margin-right: 27%;
}
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.user{
    width: 100%;

}
.user input{
    width: 89%;
    float: left;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.imgwrap{
    background-image: url('../../../../assets/images/addbtn.svg');
    background-repeat: no-repeat;
    background-size: 61px 80px;
    height: 23vh;
    margin-left: 37%;
    margin-right: 41px;
    background-position: center;
    margin-top: 27px;
    width: 21%;
    margin-top: 1px;
    border: 1px solid #ffffff2b;
    background-color: #f4f7f7;
    border-radius: 96px;
}


.img-container{
    margin-left: 2%;
}

.header{
//    border-bottom: 1px solid grey;
}
.boxed{
    width: 100%;
    float: left;
}
.tab-adjust1{
    width: 100%;
    float: left;
    margin-top: 1px;
}
.tab-adjust input{
    width: 78%;
}
.headline-text{
    
}
.middle-tab{
    width: 66%;
    float: left;
    margin-left:    20%;
}
.text-area1  textarea{
    width: 89.3%;
}
.save-btn{
    float: right;
    width: 100%;
}
.save-btn button{
    width: 24%;
    float: right;
    background-color: grey;
    border: noe;
    border: none;
    color: white;
    padding: 7px;
    position: center;
    margin-top: 23px;
    margin-bottom: 1%;
    margin-right: 49px;
    border-radius: 3px;

}
.alert-box{
    color: red;
    font-size: 11px;
}
@media only screen and (max-width: 600px){
    .modal-content{
        width: 92%;
        height: auto;
        margin-right: 4%;
        margin-top: 4%;
    
    }
    input{
        border: none;
        border-bottom: 1px solid grey;
    }
    .box-1 input{
        width: 113px;
        float: left;
        height: 25px;

    }
    label{
        margin-top: 25px;
    font-size: 9px;
    }
    .box-1{
        width: 134px;
        float: left;
    }
    .box-2 input{
        width: 131px;
        float: left;
        height: 25px;
    }
    .box-2{
        width: 100px;
    }
    .tab-adjust1{
        width: 245px;
    }
    textarea{
        border: none;
        border-bottom: 1px solid grey;

    }
    .middle-tab{
        margin-left: 15%;

    }
    .text-area1 textarea{
        width: 265px;
        height: 30px;
    }
    .save-btn button{
        width: 41%;
        margin-right: -13px;
    }
    .alert-box{
        font-size: 9px;
    }
}

@media only screen and (max-width: 411px){
    .middle-tab{
        margin-left: 14%;

    }
    .box-1  input{
        width: 121px;
    }
    .save-btn button{
        // margin-right: 5px;
        margin-right: -25px;
    }
}
@media only screen and (max-width: 360px){
    .middle-tab{
        margin-left: 8% !important;
    }
.save-btn button{
    margin-right: -57px !important;
    width: 92px;
}
}
@media only screen and (max-width: 320px){
    .middle-tab{
        margin-left: 9%;

    }
    .box-2 input{
        width: 109px;
    }
    .save-btn button{
        // margin-right: -49px;

    }
    .box-1 input{
        width:109px;
    }
    .text-area1 textarea{
        width: 245px;
    }
}

@media only screen and (max-width: 375px){
.middle-tab{
    margin-left: 11%;

}
.save-btn button{
    margin-right: -44px;
}
}
// .save-btn button {
//     // margin-right: -16px;
// }
// }




// input[type=number]::-webkit-inner-spin-button, 
// input[type=number]::-webkit-outer-spin-button { 
//   -webkit-appearance: none; 
//   margin: 0; 
// }

// .category-box{
// float: left;
// width: 100%;
// }

// .category-wrap{
//     width: 100%;
//     float: left;
//     height: auto;
//     margin-top: 15px;
// }
// //  /deep/ .mat-form-field-appearance-legacy .mat-form-field-underline {
// //     display: none !important;
// //     height: 0px !important;
// // }
// .cat-adjust{
//     width: 100%;
//     float: left;
//     margin-top: 1px
// }

// /deep/.mat-form-field {
//     width: 62%!important;
//     display: inline-block;
//     position: relative;
//     text-align: left;
//     margin-top: 16px !important;
// }
// // /deep/.mat-form-field-flex {
// //     display: inline-flex !important;
// //     align-items: baseline !important;
// //     box-sizing: border-box !important;
// //     width: 100%;
// // }
// /deep/.mat-form-field-appearance-legacy .mat-form-field-underline {
//     height: 1px;
//     // display: none;
// }



// @media only screen and (max-width: 600px){
//     .tab-adjust1{
//         width: 35%;
//     margin-left: 15px;
//     margin-top: 20px;
//     }
// //     .table-adjust  input{
// //         margin-bottom: 1px;
// //     margin-top: 1px;
// //     width: 97%!important;
// // }
// .text-area1 textarea{
//     margin-left: 12px;
// }
// .text-area1 label{
//     font-size: 13px;
//     margin-left: 17px;
// }
// .boxed{
//     width: 90%;
//     float: left;
//     margin-left: 9%;
// }
// .tab-adjust1 input{
//         width: 114px;
//     border: none;
//     border-bottom: 1px solid grey;
// }
    
//     .modal-content{
//         width: 75%;
//         margin-right: 11%;
//     }
//    input{
//     // border: none;
//     // border-bottom: 1px solid grey;

//    }
//    .text-area1 textarea{
//     margin-bottom: 0px;
//     border: none;
//     width: 249px;
//     border-bottom: 1px solid grey;
//    }
//    .tab-adjust1  label{
//     margin-top: 15px;
//        font-size: 12px;

//    }
//    .modal-content{
//     width: 88%;
//     margin-right: 6%;
//    }
//    .middle-tab{
//     width: 334px;
//     float: left;
//     margin-left: -4%;
//    }
//    .save-btn button{
//     margin-right: 73px;
//     width: 29%;
//    }
// }
// // }
// // @media only screen and (max-width: 411px) {
// //     .middle-tab{
// //         margin-left: 12%;
// //     }
// // }
// @media only screen and (max-width: 320px) {
//     .tab-adjust1{
//         width: 35%;
//         margin-left: 2px;
//         margin-top: 20px;
//     }
//     .text-area1 textarea{
//         width: 224px;
//     }
//     .middle-tab{
//         margin-left: -5%;
//     }
//     .save-btn button{
//         margin-right: 98px;
//         width: 29%;
//     }
//     .text-area{
//         margin-left: -13px;
//     }
// }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}