<div id="myModal" class="modal">
  <div class="modal-content">
    <div class="header">
      <div class="close-btn">
        <span class="close" (click)="closePopup()">&times;</span>
      </div>
      <div class="container" style="margin-top: 12px;">
        <form #onsumit="ngForm">
          <div class="row">
            <div class="col-md-12">
              <h3 style="font-size: 20px;">Add Notification
                <hr>
              </h3>
            </div>
          </div>
          <div class="row">
            <div class="col-md-5">
              <label>Title(required)
                <span>*</span>
              </label>
            </div>

            <div class="col-md-7">
              <input class="cityWrap" autocomplete="off" type="text" #title name="tit" required id="phno">
              <div class="valid" *ngIf="title.invalid && (title.dirty || title.touched) ">
                <span style="font-size: 12px; color: red; float: left;margin-left: -29%; margin-top:1%;">
                  <strong>Title is Required </strong>
                </span>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-5">
              <label>Message(required)
                <span>*</span>
              </label>
            </div>
            <div class="col-md-7">
              <textarea rows="5" cols="50" autocomplete="off" type="text" #message name="cmmt" required id="commt"></textarea>
              <div class="valid" *ngIf="message.invalid &&(message.dirty || message.touched) ">
                <span style="font-size: 12px; color: red; float: left;margin-left: -29%; margin-top:1%;">
                  <strong>Message is Required </strong>
                </span>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-5">
              <label>Image
              </label>
            </div>
            <div class="col-md-8" style="float: right;margin-right: -10%;margin-top: -1%;">
              <input type="file" (change)="detectFiles($event)" style="width: 98%;float: right;margin-right: 73px;margin-top: 7px;">
              <img [src]="imageurl" style=" height: 120px; margin-top: 4%;margin-left: -26%">

            </div>
          </div>
          <div class="row" style="margin-top: 2%; margin-bottom: 5%;margin-left: 0%;">
            <div class="col-md-12">
            </div>
          </div>
          <div class="row" style="margin-top: 2%; margin-bottom: 5%; margin-left: 0%;">
            <div class="col-md-5" style="float: right;margin-right: -10%;margin-top: -1%;">
              <p *ngIf="isUpload">uploading...</p>
            </div>
            <div class="col-md-7" *ngIf="!isUpload" style="float: right;margin-right: -10%;margin-top: -1%;">
              <button class="btn btn-primary" [disabled]="!onsumit.form.valid" style="float: right; margin-top: 10px; width: 100px; margin-right: -44px; margin-top: -18px"
                (click)="onSave()">Send</button>
            </div>

          </div>

        </form>
      </div>
    </div>
  </div>
</div>