<div class="main-container1">
    <div class="profile-card1">
        <img src="../../../assets/images/dd.jpg" class="block-img2">
        <div class="box-1">
            <div class="name-wrap">
                <p>{{vendorData.firstName | titlecase }} {{vendorData.lastName | titlecase }}</p>


            </div>
            <div *ngIf="isSuperAdmin">
                <div class="edit-wrap">
                    <div class="editmodel" (click)="onEdit(vendorData)"></div>
                </div>
            </div>

        </div>
        <div class="box-2">

        </div>


        <div class="updatedBox2">

            <div class="busname-wrap updatedBus1">
                <p class="business-name">{{vendorData.businessName}}</p>
            </div>
            <div class="busname-wrap updatedBus2">
                <p>{{vendorData.tagline}}</p>
            </div>
            <div class="updateBox2">
                <div class="busname-wrap">
                    <p>{{vendorData.address}}</p>
                </div>
            </div>

        </div>

        <div class="updatedBox3">
            <div class="updated_call_wrap" *ngIf="vendorData.contactNumber">
                <p>
                    <img src="../../../assets/images/phonegrey.svg" style="margin-right: 5%;top:0px;position: relative;" width="18px;" height="16px">{{vendorData.contactNumber}}
                </p>
                <p class="updatedNumber2">
                    {{vendorData.alternateContact}}
                </p>
            </div>
            <div class="updatedweb">
                <div class="call-wrap" *ngIf="vendorData.websiteUrl">
                    <p>
                        <img src="../../../assets/images/webgrey.svg" class="web-icons">{{vendorData.websiteUrl}}
                    </p>
                </div>
            </div>
            <div class="updatedweb" style="margin-left:36px">
                <div class="call-wrap" *ngIf="vendorData.email">
                    <img src="../../../assets/images/email_flaticon.svg" class="web-icons email-icon">{{vendorData.email}}
                </div>
            </div>
        </div>
        <div class="rating-box">
            <ng-template #t let-fill="fill">
                <span class="star" [class.full]="fill === 100">
                    <span class="half" [style.width.%]="fill">&#9733;</span>&#9733;
                </span>
            </ng-template>
            <ngb-rating [(rate)]="vendorData.averageRating" [starTemplate]="t" [readonly]="true" max="5"></ngb-rating>
            <hr>
            <p>Your Rating&nbsp;:&nbsp;{{vendorData.averageRating}}</p>
        </div>

    </div>
    <div class="profile-card2">
        <div class="box-1">
            <span>
                <p>About Us</p>
                <hr style="width: 71px; margin-left: 0px; margin-top: -10px;">
            </span>
            <div *ngIf="isSuperAdmin">

                <div class="editmodel-1" (click)="onEditArea()">
                </div>
            </div>
            <textarea [disabled]="!disable" rows="3" cols="70" [(ngModel)]="vendorData.aboutText"></textarea>
            <div *ngIf="disable">
                <button (click)="onUpdateArea()">Update</button>
            </div>
        </div>
    </div>

    <div class="profile-card2">
        <div class="box-1">
            <span>
                <p>Category</p>
                <hr style="width: 71px; margin-left: 0px; margin-top: -10px;">
            </span>
            <div *ngIf="isSuperAdmin">

                <div *ngIf="!categoryhide" class="editmodel-1" (click)="onEditCategory()">

                </div>
            </div>
            <div *ngIf="categoryhide" class="save-model-1" (click)="updateCategory()">

            </div>
            <div *ngIf="categoryhide">
                <mat-form-field class="demo-chip-list">
                    <mat-chip-list #chipList>
                        <mat-chip *ngFor="let item of categories" [selectable]="selectable" [removable]="removable" (removed)="remove(item)">
                            {{item.categoryName}}
                            <mat-icon matChipRemove *ngIf="removable">x</mat-icon>
                        </mat-chip>
                        <input placeholder="Add Category" #categoryInput [formControl]="categoryCtrl" [matAutocomplete]="auto" [matChipInputFor]="chipList"
                            [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur" />
                    </mat-chip-list>
                    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                        <mat-option *ngFor="let cat of categoriesdata" [value]="cat">
                            {{cat.categoryName}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
            </div>
            <div *ngIf="!categoryhide">
                <mat-form-field class="demo-chip-list">
                    <mat-chip-list #chipList>
                        <mat-chip *ngFor="let item of categories">
                            {{item.categoryName}}
                        </mat-chip>
                    </mat-chip-list>
                </mat-form-field>
            </div>
        </div>
    </div>
    <div class="profile-card3">
        <div class="box-1">
            <span style="width: 58px; float: left;">
                <p>Photos</p>
                <hr style="margin-top:-10px;">
            </span>
            <!-- <input type="file" (change)="showPreviewImage($event)" multiple>
                    <img [src]="localUrl" *ngIf="localUrl" class="imgPlaceholder" width="100px" height="100px" name="img"> -->
            <!-- <input type="file" accept="image/*" #file>  -->
            <div *ngIf="isSuperAdmin">
                <div *ngIf="isImageUpload">
                    <div class="loader-box">
                        <div class="loader"></div>
                    </div>
                </div>
                <div *ngIf="!isImageUpload">
                    <img type="file" src="../../../assets/images/plus.svg" class="plus" (click)="file.click()">
                </div>
            </div>
            <input type="file" name="imageUrl" (change)="detectFiles($event)" #file style="display: none;">
            <div class="insert-image">
                <div class="insert-photos hovereffect" *ngFor="let item of vendorData.photos">
                    <img src="{{item.iconUrl}}" class="rounded mb-3 full_image  zoom-img" style="width: 100%;">
                    <div *ngIf="isSuperAdmin">

                        <div class="iconWrap">
                            <i class="fa fa-remove" aria-hidden="true" (click)="onDeleteClicked(item)"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<app-editprofilemodel *ngIf="popup" [currentVendor]="currentVendor" (output)="onUpdate($event)"></app-editprofilemodel>