.editmodel:hover{
opacity: 0.4;
}
.editmodel-1:hover{
opacity: 0.4;
}


.block-img:hover{
width: 100%;
height: 150px;

}
.block-img2{
    width: 100%;
    height: 150px;
}
.main-container{
width: 100%;
float: left;
background-color: #F5F5F4;

} 

.profile-card1{
width: 70%;
background-color: #FFFFFF;
margin-left: 15%; box-shadow: 0px 0px 8px 3px lightgrey;margin-top: 2%;
float: left;
// padding: 13px;
// height: 100px;
}
.profile-card2{
width: 70%;
background-color: #FFFFFF;
margin-left: 15%; box-shadow: 0px 0px 8px 3px lightgrey;margin-top: 2%;
float: left;
}
.profile-card3{
width: 70%;
background-color: #FFFFFF;
margin-left: 15%; box-shadow: 0px 0px 8px 3px lightgrey;margin-top: 2%;margin-bottom: 2%;
float: left;
}
.box-1{
width: 100%;
float: left;
margin-bottom: -4px;
padding-left: 10px;
padding-top: 10px;
}
.updatedBox2{
width: 58%;
float: left;
margin-bottom: -4px;
padding-left: 10px;
padding-top: 10px;
}
.updatedBox3{
width: 42%;
float: left;
margin-bottom: -4px;
padding-left: 10px;
padding-top: 10px;
}
.name-wrap{
width: 50%;
float: left;
}
.edit-wrap{
width: 50%;
float: left;
}
.editmodel{
float: right;
width: 6%;
background-image: url('../../../assets/images/pencilgrey.svg');
background-repeat: no-repeat;
background-position: right;
height: 20px;
background-size: 16px 19px;
margin-right: 17px;
margin-top: 5px;        
}

.editmodel-1{
float: right;
width: 6%;
background-image: url('../../../assets/images/pencilgrey.svg');
background-repeat: no-repeat;
background-position: right;
height: 20px;
background-size: 20px 19px;
margin-right: 17px;
margin-top: -43px;        
}
.rating-box hr{
    
    width: 182px;
    margin-left: 9px;

}
.rating-box p{
    
    // width: 182px;
    margin-left: 9px;

}


.save-model-1{
    float: right;
    width: 6%;
    background-image: url('../../../assets/images/check-mark.png');
    background-repeat: no-repeat;
    background-position: right;
    height: 20px;
    background-size: 16px 19px;
    margin-right: 17px;
    margin-top: -43px;        
    }
.business-name{
// float: left;
width: 100%;
font-size: 17px;

}
.box-2{
width: 100%;
float: left;
margin-top: -14px;
padding-left: 10px;
}
.updateBox2 {
width: 100%;
float: left;
margin-top: -14px;
}
.updatedBus1{
margin-top: -6%;
}
.updatedBus2{
margin-top: -4%;
}
.busname-wrap{
width: 100%;
float: left;
}
.updated_call_wrap{
width: 52%;
margin-left: 12%;
margin-top: -26px;
}
.updatedweb{
width: 100%;
margin-top: -14px;
margin-left: -13%;
}
.updatedNumber2{
    margin-top: -13%;
    margin-left: 18%;
}
.call-wrap p{
    margin-left: 74px;
    height: auto;
    // float: left;
}
.insert-photos{
width: 100%;
float: left;
margin-bottom: 2%;
margin-right: 2%;
height: 140px;
// border: 1px solid black;
}
.business-name p{
font-size: 15px;
}
.box-1 textarea{
border: none;height:70px;margin-bottom: 10px;overflow: hidden;
border: 1px solid grey;
float: left;
}

textarea{
background-color: white;
}
.box-1  textarea[disabled]{
border: none;
}
.box-1 img:hover{
// opacity: 0.4;

}
.block-img{
width: 100%; height: 150px;
-webkit-transition: all 2s ease;
-moz-transition: all 2s ease;
-ms-transition: all 2s ease;
transition: all 2s ease;

}

.web-icons{
height: 18px; margin-right: 11px;width: 15px;margin-top: 5px; float: left;
}
.name-wrap p{
font-size:20px;
}


.iconWrap{
    width: 10%;
    float: right;
    color: white;
    position: absolute;
    top: 0;
    right: 0;
}

.iconWrap i{
    width: 22px;
    height: 22px;
    font-size: 13px;
    z-index: 999;
    float: right;
    padding-top: 4px;
    padding-right: 1px;
    margin-right: 6px;
    margin-top: 4px;
    background-color: #191614e0;
    text-align: center;
    border-radius: 21px;
    cursor: pointer;
}

.plus{
    width:20px;
    height: 20px; 
    float: right;
    margin-right: 21px;
    }

.loader-box{
    width:20px;
    height: 20px; 
    float: right;
    margin-right: 21px;
    background-color: transparent;
  
  }
  
  .loader {
    border: 4px solid#f58634;
    border-radius: 88%;
    border-top: 3px solid white;
    width: 20px;
    height: 20px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    position: absolute;
    }
    
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    50% { -webkit-transform: rotate(180deg); }
    100% { -webkit-transform: rotate(360deg); }
    }
    @keyframes spin {
    0% { transform: rotate(0deg); }
    50% { -webkit-transform: rotate(180deg); }
    100% { transform: rotate(360deg); }
  }
  

/// Resphosive css
@media only screen and (max-width: 600px) {
    .block-img2 {
        height: 100px;
        width: cover;
    }
    .profile-card2 button{
        margin-top: 4px;
        margin-bottom: 29px;
        width: 26% !important;
    }
.rating-box{
    float: left;
    margin-left: 12px;
    width: 61%;
}
.rating-box hr{
    
        width: 182px;
        margin-left: 9px;
    
}
.rating-box p{
    margin-left: 10px;
}


.name-wrap p 
{
    font-size: 14px;
}
.updated_call_wrap{
    width: 131px;
    margin-left: 3px;
    font-size: 13px;
    margin-top: -12px;
}
.profile-card1{
    width: auto;
    margin-top: 0%;
    margin-left: -7px;
}
.profile-card2{
    margin-left: -5px;
    width: 357px;
    margin-right: -6px;
}
.box-1 textarea{
    width: 86%;
    margin-bottom: 38px;
}
.profile-card3{
    width: 382px;
    margin-left: -3px;
}
.box-2{
margin-bottom: -2%;
}
.updateBox2{
padding-top: 3px;
}
.box-1{
    width: 100%;
    float: left;
    padding-left: 9px;
    margin-bottom: -4px;
}
.updatedBox2{
    width: 58%;
    float: left;
    /* margin-bottom: -4px; */
    padding-left: 8px;
    padding-top: 8px;
}
.updatedBus1{
    margin-top: -4%;
    padding-left: 1px;
}
.business-name{
    // width: 100%;
    font-size: 13px;
}
.busname-wrap p{
    font-size: 12px;
    // font-size: 12px;
    width: 292px;
    margin-top: 3px;
    margin-bottom: 16px;
}
.updatedBus2{
    margin-top: -11%;
}
.updatedBox3{
    width: 45%;
    float: left;
    margin-bottom: -4px;
    padding-left: 10px;
    padding-top: 10px;
}
.web-icons{
    margin-top: 0px;
    width: 15px;
    margin-right: 2px;
    margin-left: 15px;
}
.email-icon
{
margin-left: -8px;
}
.updatedweb{
    margin-left: -20%;
    margin-top: 10px;
}
.call-wrap p{      margin-left: 146px;
    height: auto;
    float: left;
    margin-top: -53px;
    width: 204px;
    font-size: 13px;    
}
.editmodel{
    width: 11%;
}
.hovereffect {
    width: 46% !important;

    

}
.zoom-img{
    height: 124px !important;
}
.insert-image{
    padding-left: 9px!important;
}
}

.zoom-img{
    width:250px;
     height:141px;
}
.insert-image{
    width: 100%;
    max-height: 342px;
    overflow-y: scroll;
    float: left;
    margin-top: 10px;
    padding-left: 34px;
    margin-bottom: 2%;
    .zoom {
    padding: 50px;
    background-color: green;
    transition: transform .2s;
    width: 200px;
    height: 200px;
    margin: 0 auto;
    }

}
.insert-photos{
width: 45%;
float: left;
// margin-right: 10px;
}

.hovereffect {
width:30%;
// height:100%;
float:left;
overflow:hidden;
position:relative;
text-align:center;
cursor:default;
border: 1px solid #aeaeae;
border-radius: 7px;
margin-bottom: 2%;
}

.hovereffect .overlay {
width:100%;
height:100%;
position:absolute;
overflow:hidden;
top:0;
left:0;
opacity:0;
background-color:rgba(0,0,0,0.5);
-webkit-transition:all .4s ease-in-out;
transition:all .4s ease-in-out
}

.hovereffect img {
display:block;
position:relative;
-webkit-transition:all .4s linear;
transition:all .8s linear;
}

.hovereffect h2 {
text-transform:uppercase;
color:#fff;
text-align:center;
position:relative;
font-size:17px;
background:rgba(0,0,0,0.6);
-webkit-transform:translatey(-100px);
-ms-transform:translatey(-100px);
transform:translatey(-100px);
-webkit-transition:all .2s ease-in-out;
transition:all .2s ease-in-out;
padding:10px;
}

.hovereffect a.info {
text-decoration:none;
display:inline-block;
text-transform:uppercase;
color:#fff;
border:1px solid #fff;
background-color:transparent;
opacity:0;
filter:alpha(opacity=0);
-webkit-transition:all .2s ease-in-out;
transition:all .2s ease-in-out;
margin:50px 0 0;
padding:7px 14px;
}

.hovereffect a.info:hover {
box-shadow:0 0 5px #fff;
}

.hovereffect:hover img {
-ms-transform:scale(1.2);
-webkit-transform:scale(1.2);
transform:scale(1.2);
}

.hovereffect:hover .overlay {
opacity:1;
filter:alpha(opacity=100);
}

.hovereffect:hover h2,.hovereffect:hover a.info {
opacity:1;
filter:alpha(opacity=100);
-ms-transform:translatey(0);
-webkit-transform:translatey(0);
transform:translatey(0);
}

.hovereffect:hover a.info {
-webkit-transition-delay:.2s;
transition-delay:.2s;
}
tex rea{
overflow:hidden;
margin-left: 5px;
}
.profile-card2 button{
color:white;
background-color: #0014ffc7;
border-radius: 5px;
width: 15%;
float: right;
border: none;
margin-right: 10px;
padding: 5px;
margin-top: 10px;   
}


    .demo-chip-list {
        width: 100%;
      }
      

    //   @media only screen and (min-width: 411px) {
    //       .profile-card1{
    //           margin-left:40px ;
    //       }
    //       .profile-card2{
    //         margin-left:40px ;
    //     } .profile-card3{
    //         margin-left:40px  ;
    //     } .profile-card4{
    //         margin-left:40px ;
    //     }
    //   }
      @media only screen and (max-width: 360px) {
        .profile-card1{
            width: 346px;
            margin-top: -10px;
            margin-left: -9px;
        }
        .profile-card2{
          margin-left:12px ;
      } .profile-card3{
        margin-left: -9px;
        width: 343px;
      } .profile-card4{
          margin-left:12px ;
      }
    }
    @media only screen and (max-width: 320px) {
        .profile-card1{
            margin-left: -6px;
            width: 304px;
            font-size: 10px;
        }
        .editmodel-1{
            width: 9%;
        }
        .busname-wrap p{
            width: 275px;
        }
        .block-img2[_ngcontent-c4] {
            height: 71px;
            width: 304px;
        }   
        .profile-card2{
            margin-left: -4px;
            width: 300px;
            margin-right: 8px;
      } .profile-card3{
        margin-left: -5px;
        width: 103%;
        font-size: 10px;
      } .profile-card4{
        margin-left: 10px;
        width: 93%;
        font-size: 10px;
      }
    }
    // @media only screen and (min-device-width: 414px) and (max-device-width: 823px) and (orientation : portrait) { 

    
    //     .profile-card1{
    //         // margin-left:-7px ;
    //         // margin-left:35px;
    //         width: 358px;
    //     }
    //     .block-img2[_ngcontent-c4] {
    //         height: 100px;
    //         width: 354px;
    //     }   
    //     .profile-card2{
    //         // margin-left:-7px ;
    //         // margin-left:35px;
    //         width: 358px;
    //     }    .profile-card3{
    //         // margin-left:-7px ;
    //         // margin-left:35px;
    //         width: 358px;
    //     }
    //     .profile-card4{
    //         // margin-left:-7px ;
    //         // margin-left:35px;
    //         width: 358px;
    //     }
        
    // }
    @import '~ngx-bar-rating/themes/br-stars-theme';









    span.stars, span.stars span {
        display: block;
       /* Download the star image here: http://stackoverflow.com/questions/1987524/turn-a-number-into-star-rating-display-using-jquery-and-css */
        background: url('https://apppresser.com/wp-content/uploads/2015/11/stars.png') 0 -16px repeat-x;
        width: 80px;
        height: 16px;
    }
    
    span.stars span {
        background-position: 0 0;
    }
    
    .alignright {
      float:right;
    }

    a i { color: red;}
    
    .rating-box{
        float: left;
        width: 100%;
    }








    @import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

    fieldset, label { margin: 0; padding: 0; }
    body{ margin: 20px; }
    h1 { font-size: 1.5em; margin: 10px; }
    
    /****** Style Star Rating Widget *****/
    
    .rating { 
      border: none;
      float: left;
    }
    
    .rating > input { display: none; } 
    .rating > label:before { 
      margin: 5px;
      font-size: 1.25em;
      font-family: FontAwesome;
      display: inline-block;
      content: "\f005";
    }
    
    .rating > .half:before { 
      content: "\f089";
      position: absolute;
    }
    
    .rating > label { 
      color: #ddd; 
     float: right; 
    }
    
    /***** CSS Magic to Highlight Stars on Hover *****/
    
    .rating > input:checked ~ label, /* show gold star when clicked */
    .rating:not(:checked) > label:hover, /* hover current star */
    .rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */
    
    .rating > input:checked + label:hover, /* hover current star when changing rating */
    .rating > input:checked ~ label:hover,
    .rating > label:hover ~ input:checked ~ label, /* lighten current selection */
    .rating > input:checked ~ label:hover ~ label { color: #FFED85;  } 





    .star {
        position: relative;
        display: inline-block;
        font-size: 3rem;
        color: #d3d3d3;
      }
      .full {
        color: yellow;
      }
      .half {
        position: absolute;
        display: inline-block;
        overflow: hidden;
        color: yellow;
      }

      ::ng-deep  .mat-form-field-appearance-legacy .mat-form-field-wrapper {
    // padding-bottom: 1.25em !important;
    width: 100% ;
    border:none;
}
.d-inline-flex {
    display: inline-flex !important;
    height: 0px;
}
@media screen and (max-width: 411px){


    .profile-card2{
        margin-left: -5px;
        width: 385px;
        margin-right: -6px;
    }
 }
 @media screen and (max-width: 375px){


    .profile-card2{
        margin-left: -5px;
        width: 357px;
        /* margin-right: -6px; */
    }
    .profile-card3{
        width: 354px;
        margin-left: -3px;
    }
 }
 @media screen and (max-width: 360px){


    .profile-card2{
        margin-left: -9px;
        width: 344px;
        /* margin-right: -6px; */
    }
    .profile-card3{
        width: 344px;
        margin-left: -9px;
    }
 }
 @media screen and (max-width: 320px){


    .profile-card2{
        margin-left: -5px;
        width: 301px;
        margin-right: 0px;
    }
    .call-wrap{
        width: 204px;
        margin-left: -25px;
    }
    .profile-card3{
        width: 302px;
        margin-left: -5px;
    }
 }
 @media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation : portrait) { 
     .profile-card2{
        margin-left: -5px;
        width: 386px;
        margin-right: -6px;
     }
 }