<div class="container">
  <div class="row">
    <div class="col-md-12">
    </div>
  </div>
  <div class="col-md-12"></div>
  <div class="row" style="margin-top: 10px;">
    <div class="col-md-12">
      <div class="card mb-3">
        <div class="card-header">{{headName}}&nbsp; Design
          
          <button type="button" class="btn btn-info btn-sm" style="float: right; margin-right: 4%;" (click)="onAdd()">Add</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row" style="margin-top: 15px">
    <div class="grid1" *ngFor="let c of event">
    <!-- <div class="col-md-3"  style="margin-top: 1%;"> -->
      <!-- <img src="{{c.designImgUrl}}" style="float: right; width: 200px; height: 182px; margin-top: 6%;   margin-right: 12%;" (click)="onSelect(c)"> -->
      <img src="{{c.designImgUrl}}" style="float: right; width: 205px; height: 183px; margin-top: 5%;   margin-right: 6%;">
      <div class="iconWrap">
          <!-- <i class="fa fa-pencil-square-o" style="padding-top:5px; padding-left: 2px;" (click)="onSelect(c)"></i>
      <i class="fa fa-remove" (click)="onDeleteClicked(c)"></i> -->
    </div>
    </div>
</div>
  </div>
<!-- </div> -->
<app-profile *ngIf="popup" [profile]="profile" [eventTemplateId]="eventTemplateId" (onUpdate)="onUpdate($event)"></app-profile>